@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: grid;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 25px;
}
h2 {
  line-height: 1.3;
  font-weight: bold;
}
section {
  display: grid;
  grid-template-columns: 25% 30% 15% 25%;
  gap: 15px;
  justify-content: center;
  grid-template-rows: 50% 50%;
  height: 80vh;
  padding: 1.5rem;
  min-height: 460px;
}
section .card {
  border-radius: 25px;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.26);
}
section .card:nth-child(2) {
  grid-column: span 2;
  grid-area: span 2;
}
section .card:nth-child(3) {
  grid-column: span 2;
}
section .card p {
  font-size: 16px;
  line-height: 1.4;
}
section .card .card-img {
  position: relative;
  height: 100%;
}
section .card .card-img .card-overlag {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  color: white;
  padding: 24px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.57) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section .card .card-img span {
  position: absolute;
  top: 25px;
  left: 24px;
  color: #ff7b29;
  background-color: #fff;
  border-radius: 50px;
  padding: 4px 18px 4px 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 20px #0000002b;
  font-family: sans-serif;
}
section .card .card-img span i{
    vertical-align: middle;
    margin-right: 4px;
    font-size: 12px;
}
